.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.debug {
  border: purple 5px solid;
}

.character {
  width: 100%;
}

.column-h1 {
  width: 100%;
}

.column-link {
  width: calc(100% / 3);
}

.column-four {
  width: 100%;
}

.column-para {
  width: calc(200% / 3);
}

.column-character-img {
  width: calc(100% / 3);
}
