.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.debug {
  border: purple 5px solid;
}

.character {
  width: 100%;
}

.column-full {
  width: 100%;
}

.column-third {
  width: calc(100% / 3);
}

.column-fourth {
  width: 100%;
}

.column-two-third {
  width: calc(200% / 3);
}

.column-one-third {
  width: calc(100% / 3);
}
